<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hockeylizer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>hockeylizer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hockeylizer</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hockeylizer</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishProvider>AzureWebSite</PublishProvider>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>netcoreapp1.1</PublishFramework>
    <ProjectGuid>6faf3a20-af93-4102-9d13-81da5eb138f7</ProjectGuid>
    <RemoteSitePhysicalPath />
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>